*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../img/fundo.gif');
  }
.navbar {
    background-color: rgba(0, 0, 0, 0.3);
  
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.clear {
    background-color: #16463c; 
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px; 
    padding: 8px 16px; 
}


.clear:hover {
    background-color: #16463c; 
    text-decoration: none; 
}
