/* Estilos para o navbar transparente */
body {
    height: 100vh; /* Isso centraliza verticalmente na janela */
    margin: 0;
    padding: 0;
    background-image: url('../img/fundo.jpg'); /* Substitua 'caminho_da_sua_imagem.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem no corpo */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    font-family: Arial, sans-serif; /* Defina a fonte desejada para o texto */
}
.navbar {
    background-color: rgba(0, 0, 0, 0.3); /* Fundo com transparência usando RGBA */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Aumenta a altura do navbar */
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilização do botão "Limpar" */
.clear {
    background-color: #ff5733; /* Cor vermelha */
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px; /* Borda ligeiramente arredondada */
    padding: 8px 16px; /* Espaçamento interno do botão */
}

/* Quando o botão está no estado hover (sobre ele) */
.clear:hover {
    background-color: #ff3c1f; /* Cor vermelha mais escura no hover */
    text-decoration: none; /* Remove o sublinhado no hover */
}
